*.pdf
*ppsx
*docx
*zip
*tif
*jpg
*png
*tiff
*/venv
*.npy
*.exe
*.chromedriver
*powerbi-dataanalysis-project/data/appearances.csv
*powerbi-dataanalysis-project/main_excel_file.xlsm
*powerbi-dataanalysis-project/main_excel_file.xlsx